@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
    margin: 0;
    /* Ensure no default margin */
    padding: 0;
    /* Ensure no default padding */
  }

  body {
    @apply bg-background text-foreground;
  }
}

nav {
  background-color: transparent !important;
}